body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(10, 10, 10);
    padding: 40px 80px 0px 60px;
    margin: 0%;

    color:white;


}


.project{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 100px;
}

.info{
    width: 30%;
    position: fixed;
}

.detail{
    width: 65%;
}

video{
    width: 100%;
}

.divider{
    background-color: white;
    height: 1px;
    margin-top: 20px;
    margin-bottom: 20px;
}


@media only screen and (max-width: 700px) {
    body{
        padding: 40px 20px 0px 20px;}
  .project{
flex-direction: column;  }

.info{
    width: 100%;
    position: relative;
}
.detail{
    width: 100%;
}


    }
    
    
    
    @media only screen and (max-width:700px){
        body{
            padding: 0px;
        }
       .project{
            padding: 20px;
        }
        .tag{display: flex;
            flex-direction: row;
            justify-content: flex-start;
            flex-wrap: wrap;
      
      }
      .tag-detail{
          padding-right: 10px;
      }
    }